# Ignore all files
*

# But not these files and directories:
!/.gitignore
!/dist/
!/dist/Output/
!/dist/Output/PortKnockUtilitySetup.exe
!/dist/PortknockingUtility/
!/dist/PortknockingUtility/PortknockingUtility.exe
!/README.md
!/LICENSE
